html,body{ margin:0; padding:0; height:100%; width:100%; background-color: black;}

/* .full-size{
  height:100%;
  width:100%;
  overflow:hidden;
} */

.dog-idle {
    width: 557px;
    height: 491px;
    margin: 2% auto;
    background: url('/public/assets/dog/dog_idle.png') left center;
    animation: dog-idle .8s steps(10) infinite;
}
  
@keyframes dog-idle {
    100% { background-position: -5570px; }
}

.dog-jump {
    width: 557px;
    height: 491px;
    margin: 2% auto;
    background: url('/public/assets/dog/dog_jump.png') left center;
    animation: dog-jump .8s steps(8) infinite;
}
  
@keyframes dog-jump {
    100% { background-position: -4456px; }
}

.dog-run {
    width: 557px;
    height: 491px;
    margin: 2% auto;
    background: url('/public/assets/dog/dog_run.png') left center;
    animation: dog-run .8s steps(8) infinite;
}
  
@keyframes dog-run {
    100% { background-position: -4456px; }
}
