
body {
    background-color: transparent;
}


/*
cat
*/
.cat-dead {
    width: 560px;
    height: 508px;
    margin: 2% auto;
    background: url('/public/under_construction/assets/cat/cat_dead.png') left center;
    animation: cat-dead .8s steps(10) infinite;
}
  
@keyframes cat-dead {
    100% { background-position: -5600px; }
}

.cat-fall {
    width: 552px;
    height: 484px;
    margin: 2% auto;
    background: url('/public/under_construction/assets/cat/cat_fall.png') left center;
    animation: cat-fall .8s steps(8) infinite;
}
  
@keyframes cat-fall {
    100% { background-position: -4416px; }
}

.cat-hurt {
    width: 552px;
    height: 484px;
    margin: 2% auto;
    background: url('/public/under_construction/assets/cat/cat_hurt.png') left center;
    animation: cat-hurt .8s steps(10) infinite;
}
  
@keyframes cat-hurt {
    100% { background-position: -5520px; }
}

.cat-idle {
    width: 552px;
    height: 484px;
    margin: 2% auto;
    background: url('/public/under_construction/assets/cat/cat_idle.png') left center;
    animation: cat-idle .8s steps(10) infinite;
}
  
@keyframes cat-idle {
    100% { background-position: -5520px; }
}

.cat-jump {
    width: 560px;
    height: 484px;
    margin: 2% auto;
    background: url('/public/under_construction/assets/cat/cat_jump.png') left center;
    animation: cat-jump .8s steps(8) infinite;
}
  
@keyframes cat-jump {
    100% { background-position: -4416px; }
}

.cat-run {
    width: 552px;
    height: 484px;
    margin: 2% auto;
    background: url('/public/under_construction/assets/cat/cat_run.png') left center;
    animation: cat-run .8s steps(8) infinite;
}
  
@keyframes cat-run {
    100% { background-position: -4416px; }
}

.cat-slide {
    width: 552px;
    height: 484px;
    margin: 2% auto;
    background: url('/public/under_construction/assets/cat/cat_slide.png') left center;
    animation: cat-slide .8s steps(10) infinite;
}
  
@keyframes cat-slide {
    100% { background-position: -5520px; }
}

.cat-walk {
    width: 552px;
    height: 484px;
    margin: 2% auto;
    background: url('/public/under_construction/assets/cat/cat_walk.png') left center;
    animation: cat-walk .8s steps(10) infinite;
}
  
@keyframes cat-walk {
    100% { background-position: -5520px; }
}


/*
dog
*/

.dog-dead {
    width: 590px;
    height: 520px;
    margin: 2% auto;
    background: url('/public/under_construction/assets/dog/dog_dead.png') left center;
    animation: dog-dead .8s steps(10) infinite;
}
  
@keyframes dog-dead {
    100% { background-position: -5900px; }
}

.dog-fall {
    width: 557px;
    height: 491px;
    margin: 2% auto;
    background: url('/public/under_construction/assets/dog/dog_fall.png') left center;
    animation: dog-fall .8s steps(8) infinite;
}
  
@keyframes dog-fall {
    100% { background-position: -4456px; }
}

.dog-hurt {
    width: 557px;
    height: 491px;
    margin: 2% auto;
    background: url('/public/under_construction/assets/dog/dog_hurt.png') left center;
    animation: dog-hurt .8s steps(10) infinite;
}
  
@keyframes dog-hurt {
    100% { background-position: -5570px; }
}

.dog-idle {
    width: 557px;
    height: 491px;
    margin: 2% auto;
    background: url('/public/under_construction/assets/dog/dog_idle.png') left center;
    animation: dog-idle .8s steps(10) infinite;
}
  
@keyframes dog-idle {
    100% { background-position: -5570px; }
}

.dog-jump {
    width: 557px;
    height: 491px;
    margin: 2% auto;
    background: url('/public/under_construction/assets/dog/dog_jump.png') left center;
    animation: dog-jump .8s steps(8) infinite;
}
  
@keyframes dog-jump {
    100% { background-position: -4456px; }
}

.dog-run {
    width: 557px;
    height: 491px;
    margin: 2% auto;
    background: url('/public/under_construction/assets/dog/dog_run.png') left center;
    animation: dog-run .8s steps(8) infinite;
}
  
@keyframes dog-run {
    100% { background-position: -4456px; }
}

.dog-slide {
    width: 557px;
    height: 491px;
    margin: 2% auto;
    background: url('/public/under_construction/assets/dog/dog_slide.png') left center;
    animation: dog-slide .8s steps(10) infinite;
}
  
@keyframes dog-slide {
    100% { background-position: -5570px; }
}

.dog-walk {
    width: 557px;
    height: 491px;
    margin: 2% auto;
    background: url('/public/under_construction/assets/dog/dog_walk.png') left center;
    animation: dog-walk .8s steps(10) infinite;
}
  
@keyframes dog-walk {
    100% { background-position: -5570px; }
}
