* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
    text-align: center;
    line-height: 2.1;
    color: white;
    background: steelblue;
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
    padding: 20px 0;
}

.container-out {
    position: relative;
    width:100%;
}
.container {
    width: 1600px;
    height: 500px;
    background: green;
    /*display:inline-block;*/
    margin: 100 auto;

}

.square {
    width: 30%;
    height: 100%;
  display: table-cell;
  vertical-align: middle;
      margin-left: auto;
    margin-right: auto;
  position: relative;
  text-align: center;
}

.square p {
    font-size: 300px;
    font-style: italic;
    padding: 10%;
    color: red;
    font-smooth: never;
    -webkit-font-smoothing : none;
}
h1.fontface {font: 60px/68px 'SilkscreenNormal', Arial, sans-serif;letter-spacing: 0;}
p.style1 {font:  8px/20px 'SilkscreenNormal', Arial, sans-serif;}
p.style2 {font:  9px/20px 'SilkscreenBold', Arial, sans-serif;}
p.style3 {font: 10px/20px 'SilkscreenExpandedNormal', Arial, sans-serif;}
p.style4 {font: 11px/20px 'SilkscreenExpandedBold', Arial, sans-serif;}
p.style5 {font: 150px/160px 'SilkscreenExpandedBold', Arial, sans-serif; }

#getting-started {
    display: inline-block;
    width: auto;
}
.clock-wrapper {
    text-align: center;
    transform: scale(2.0);
}

/*
.container2 {
    width: 100%;
    height: 300px;
    margin: 20px auto;
    background: yellow;
    display:inline-block;
}

.square {
    width: 30%;
    height: 100%;
    background: purple;
    float: left;
      display: table-cell;
    margin: 1.66%;
    position:absolute;
    top:50%;
}

.square2 {
    width: 100px;
    height: 100px;
    background: purple;
    float: left;
    margin: 1.66%;
}
*/
.squre-a{
  width:200px;
  height:200px;
  background:#ffffff18;
  display: table-cell;
  vertical-align: middle;
}

.squre-a p{
  font-size:40px;
  padding: 10%;
  background: #ffffff18;
  color:black;
}
.info{
    width: 100%;
    height: 100%;
    background: yellow;
    display:inline-block;
    margin:0px;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    text-align: center;
}
