
body {
    background-color: transparent;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0px;
}

.ct {
  width: 100%;
  height: 100%;
  padding: 0px;
  /* margin: 0px; */
  position: relative;
}
/* h1{
  font-family: helvetica;
  font-size:2.5rem ;
  color:black;
  position: relative;
  top:80px;
  z-index: -1;
} */

#canvas {
  /* display:block; */
  /* background: gray; */
  width: 100%;
  height: 100%;
}

.ct1 {
  right: 20px;
  top: 20px;
  position: absolute;
}

.ct2 {
  width: 100%;
  position: absolute;
}

.list-group-item{
  background-color: #ffffffcc;
  padding: 5px 20px;
}