
body {
    background-color: transparent;
}

h1{
  font-family: helvetica;
  font-size:2.5rem ;
  color:black;
  position: relative;
  top:80px;
  z-index: -1;
}

#canvas {
  display:block;
  margin:5vh auto;
  border-radius:50%;
  box-shadow: 0 5px 14px black;
}
