html, body {
  height: 100%;
}
body {
  background: transparent;
  min-height: 100%;
  overflow: hidden;
}
@keyframes move {
  100% {
    transform: translate3d(0, 0, -1000px);
  }
}
.container {
  position: relative;
  width: 100%;
  min-height: 100%;
  transform-style: preserve-3d;
}
.bubble-wrap {
  margin: 0 auto;
  width: 500px;
  height: 500px;
  transform-style: preserve-3d;
  transform-origin: center center;
  perspective: 600px;
}
.bubble {
  position: absolute;
  background: black;
  opacity: 0.7;
  border-radius: 50%;
  animation: move 3s infinite;
}
.bubble:nth-child(1) {
  height: 8px;
  width: 8px;
  animation-delay: -0.2s;
  transform: translate3d(13px, 819px, 1458px);
  background: #26bed9;
}
.bubble:nth-child(2) {
  height: 19px;
  width: 19px;
  animation-delay: -0.4s;
  transform: translate3d(423px, 409px, 26px);
  background: #d9d326;
}
.bubble:nth-child(3) {
  height: 5px;
  width: 5px;
  animation-delay: -0.6s;
  transform: translate3d(496px, 563px, 1248px);
  background: #26d980;
}
.bubble:nth-child(4) {
  height: 28px;
  width: 28px;
  animation-delay: -0.8s;
  transform: translate3d(191px, 162px, 419px);
  background: #2650d9;
}
.bubble:nth-child(5) {
  height: 6px;
  width: 6px;
  animation-delay: -1s;
  transform: translate3d(696px, 493px, 1469px);
  background: #5326d9;
}
.bubble:nth-child(6) {
  height: 26px;
  width: 26px;
  animation-delay: -1.2s;
  transform: translate3d(84px, 591px, 1878px);
  background: #d92656;
}
.bubble:nth-child(7) {
  height: 25px;
  width: 25px;
  animation-delay: -1.4s;
  transform: translate3d(632px, 429px, 331px);
  background: #26d926;
}
.bubble:nth-child(8) {
  height: 13px;
  width: 13px;
  animation-delay: -1.6s;
  transform: translate3d(728px, 945px, 774px);
  background: #a6d926;
}
.bubble:nth-child(9) {
  height: 21px;
  width: 21px;
  animation-delay: -1.8s;
  transform: translate3d(103px, 449px, 1965px);
  background: #9dd926;
}
.bubble:nth-child(10) {
  height: 17px;
  width: 17px;
  animation-delay: -2s;
  transform: translate3d(723px, 446px, 236px);
  background: #26d9d0;
}
.bubble:nth-child(11) {
  height: 22px;
  width: 22px;
  animation-delay: -2.2s;
  transform: translate3d(346px, 946px, 1914px);
  background: #d0d926;
}
.bubble:nth-child(12) {
  height: 4px;
  width: 4px;
  animation-delay: -2.4s;
  transform: translate3d(320px, 738px, 1736px);
  background: #d9b826;
}
.bubble:nth-child(13) {
  height: 18px;
  width: 18px;
  animation-delay: -2.6s;
  transform: translate3d(886px, 766px, 794px);
  background: #26d93b;
}
.bubble:nth-child(14) {
  height: 24px;
  width: 24px;
  animation-delay: -2.8s;
  transform: translate3d(492px, 988px, 1852px);
  background: #d326d9;
}
.bubble:nth-child(15) {
  height: 27px;
  width: 27px;
  animation-delay: -3s;
  transform: translate3d(175px, 544px, 1149px);
  background: #26d950;
}
.bubble:nth-child(16) {
  height: 26px;
  width: 26px;
  animation-delay: -3.2s;
  transform: translate3d(516px, 488px, 353px);
  background: #4d26d9;
}
.bubble:nth-child(17) {
  height: 4px;
  width: 4px;
  animation-delay: -3.4s;
  transform: translate3d(849px, 248px, 1930px);
  background: #3b26d9;
}
.bubble:nth-child(18) {
  height: 5px;
  width: 5px;
  animation-delay: -3.6s;
  transform: translate3d(895px, 845px, 15px);
  background: #d94726;
}
.bubble:nth-child(19) {
  height: 11px;
  width: 11px;
  animation-delay: -3.8s;
  transform: translate3d(10px, 7px, 1374px);
  background: #d97126;
}
.bubble:nth-child(20) {
  height: 26px;
  width: 26px;
  animation-delay: -4s;
  transform: translate3d(992px, 444px, 1844px);
  background: #26afd9;
}
.bubble:nth-child(21) {
  height: 19px;
  width: 19px;
  animation-delay: -4.2s;
  transform: translate3d(893px, 717px, 1605px);
  background: #2641d9;
}
.bubble:nth-child(22) {
  height: 12px;
  width: 12px;
  animation-delay: -4.4s;
  transform: translate3d(765px, 482px, 1093px);
  background: #26d93b;
}
.bubble:nth-child(23) {
  height: 12px;
  width: 12px;
  animation-delay: -4.6s;
  transform: translate3d(144px, 113px, 820px);
  background: #9a26d9;
}
.bubble:nth-child(24) {
  height: 22px;
  width: 22px;
  animation-delay: -4.8s;
  transform: translate3d(617px, 223px, 879px);
  background: #26d9bb;
}
.bubble:nth-child(25) {
  height: 26px;
  width: 26px;
  animation-delay: -5s;
  transform: translate3d(293px, 384px, 1275px);
  background: #26d9c7;
}
.bubble:nth-child(26) {
  height: 15px;
  width: 15px;
  animation-delay: -5.2s;
  transform: translate3d(114px, 593px, 443px);
  background: #263bd9;
}
.bubble:nth-child(27) {
  height: 6px;
  width: 6px;
  animation-delay: -5.4s;
  transform: translate3d(728px, 583px, 1555px);
  background: #d9268b;
}
.bubble:nth-child(28) {
  height: 24px;
  width: 24px;
  animation-delay: -5.6s;
  transform: translate3d(355px, 945px, 1137px);
  background: #2c26d9;
}
.bubble:nth-child(29) {
  height: 15px;
  width: 15px;
  animation-delay: -5.8s;
  transform: translate3d(404px, 43px, 962px);
  background: #56d926;
}
.bubble:nth-child(30) {
  height: 21px;
  width: 21px;
  animation-delay: -6s;
  transform: translate3d(128px, 325px, 413px);
  background: #26d9d6;
}
.bubble:nth-child(31) {
  height: 21px;
  width: 21px;
  animation-delay: -6.2s;
  transform: translate3d(291px, 914px, 793px);
  background: #26d94d;
}
.bubble:nth-child(32) {
  height: 8px;
  width: 8px;
  animation-delay: -6.4s;
  transform: translate3d(437px, 437px, 845px);
  background: #d026d9;
}
.bubble:nth-child(33) {
  height: 19px;
  width: 19px;
  animation-delay: -6.6s;
  transform: translate3d(548px, 322px, 1314px);
  background: #26d9af;
}
.bubble:nth-child(34) {
  height: 21px;
  width: 21px;
  animation-delay: -6.8s;
  transform: translate3d(383px, 773px, 1270px);
  background: #d9ac26;
}
.bubble:nth-child(35) {
  height: 15px;
  width: 15px;
  animation-delay: -7s;
  transform: translate3d(891px, 623px, 1684px);
  background: #6e26d9;
}
.bubble:nth-child(36) {
  height: 27px;
  width: 27px;
  animation-delay: -7.2s;
  transform: translate3d(860px, 200px, 846px);
  background: #d92650;
}
.bubble:nth-child(37) {
  height: 28px;
  width: 28px;
  animation-delay: -7.4s;
  transform: translate3d(255px, 716px, 192px);
  background: #2671d9;
}
.bubble:nth-child(38) {
  height: 15px;
  width: 15px;
  animation-delay: -7.6s;
  transform: translate3d(961px, 746px, 1236px);
  background: #26d3d9;
}
.bubble:nth-child(39) {
  height: 16px;
  width: 16px;
  animation-delay: -7.8s;
  transform: translate3d(126px, 713px, 1469px);
  background: #2cd926;
}
.bubble:nth-child(40) {
  height: 24px;
  width: 24px;
  animation-delay: -8s;
  transform: translate3d(250px, 3px, 92px);
  background: #d99126;
}
.bubble:nth-child(41) {
  height: 22px;
  width: 22px;
  animation-delay: -8.2s;
  transform: translate3d(92px, 963px, 1449px);
  background: #26d96e;
}
.bubble:nth-child(42) {
  height: 30px;
  width: 30px;
  animation-delay: -8.4s;
  transform: translate3d(399px, 776px, 1063px);
  background: #85d926;
}
.bubble:nth-child(43) {
  height: 27px;
  width: 27px;
  animation-delay: -8.6s;
  transform: translate3d(548px, 300px, 1322px);
  background: #26d994;
}
.bubble:nth-child(44) {
  height: 22px;
  width: 22px;
  animation-delay: -8.8s;
  transform: translate3d(208px, 297px, 1711px);
  background: #2685d9;
}
.bubble:nth-child(45) {
  height: 22px;
  width: 22px;
  animation-delay: -9s;
  transform: translate3d(823px, 578px, 166px);
  background: #26d9d0;
}
.bubble:nth-child(46) {
  height: 15px;
  width: 15px;
  animation-delay: -9.2s;
  transform: translate3d(352px, 395px, 286px);
  background: #d98e26;
}
.bubble:nth-child(47) {
  height: 29px;
  width: 29px;
  animation-delay: -9.4s;
  transform: translate3d(419px, 173px, 1148px);
  background: #7ad926;
}
.bubble:nth-child(48) {
  height: 6px;
  width: 6px;
  animation-delay: -9.6s;
  transform: translate3d(634px, 333px, 1672px);
  background: #4126d9;
}
.bubble:nth-child(49) {
  height: 18px;
  width: 18px;
  animation-delay: -9.8s;
  transform: translate3d(624px, 751px, 333px);
  background: #d98226;
}
.bubble:nth-child(50) {
  height: 9px;
  width: 9px;
  animation-delay: -10s;
  transform: translate3d(117px, 421px, 1736px);
  background: #d98226;
}
.bubble:nth-child(51) {
  height: 21px;
  width: 21px;
  animation-delay: -10.2s;
  transform: translate3d(523px, 508px, 389px);
  background: #d92659;
}
.bubble:nth-child(52) {
  height: 12px;
  width: 12px;
  animation-delay: -10.4s;
  transform: translate3d(403px, 722px, 1107px);
  background: #d9a026;
}
.bubble:nth-child(53) {
  height: 22px;
  width: 22px;
  animation-delay: -10.6s;
  transform: translate3d(38px, 385px, 658px);
  background: #26d99d;
}
.bubble:nth-child(54) {
  height: 1px;
  width: 1px;
  animation-delay: -10.8s;
  transform: translate3d(644px, 597px, 1801px);
  background: #2c26d9;
}
.bubble:nth-child(55) {
  height: 9px;
  width: 9px;
  animation-delay: -11s;
  transform: translate3d(923px, 761px, 1908px);
  background: #26d92f;
}
.bubble:nth-child(56) {
  height: 19px;
  width: 19px;
  animation-delay: -11.2s;
  transform: translate3d(541px, 742px, 1198px);
  background: #267dd9;
}
.bubble:nth-child(57) {
  height: 7px;
  width: 7px;
  animation-delay: -11.4s;
  transform: translate3d(392px, 41px, 1088px);
  background: #d926a0;
}
.bubble:nth-child(58) {
  height: 10px;
  width: 10px;
  animation-delay: -11.6s;
  transform: translate3d(130px, 776px, 1917px);
  background: #d9c126;
}
.bubble:nth-child(59) {
  height: 22px;
  width: 22px;
  animation-delay: -11.8s;
  transform: translate3d(981px, 108px, 29px);
  background: #26a9d9;
}
.bubble:nth-child(60) {
  height: 6px;
  width: 6px;
  animation-delay: -12s;
  transform: translate3d(147px, 714px, 438px);
  background: #26c1d9;
}
.bubble:nth-child(61) {
  height: 7px;
  width: 7px;
  animation-delay: -12.2s;
  transform: translate3d(226px, 166px, 1024px);
  background: #d9268b;
}
.bubble:nth-child(62) {
  height: 18px;
  width: 18px;
  animation-delay: -12.4s;
  transform: translate3d(593px, 492px, 306px);
  background: #91d926;
}
.bubble:nth-child(63) {
  height: 20px;
  width: 20px;
  animation-delay: -12.6s;
  transform: translate3d(851px, 541px, 1177px);
  background: #4ad926;
}
.bubble:nth-child(64) {
  height: 30px;
  width: 30px;
  animation-delay: -12.8s;
  transform: translate3d(481px, 108px, 110px);
  background: #8b26d9;
}
.bubble:nth-child(65) {
  height: 18px;
  width: 18px;
  animation-delay: -13s;
  transform: translate3d(798px, 536px, 355px);
  background: #d92629;
}
.bubble:nth-child(66) {
  height: 9px;
  width: 9px;
  animation-delay: -13.2s;
  transform: translate3d(846px, 707px, 657px);
  background: #4126d9;
}
.bubble:nth-child(67) {
  height: 27px;
  width: 27px;
  animation-delay: -13.4s;
  transform: translate3d(906px, 664px, 948px);
  background: #d026d9;
}
.bubble:nth-child(68) {
  height: 21px;
  width: 21px;
  animation-delay: -13.6s;
  transform: translate3d(562px, 858px, 744px);
  background: #d92682;
}
.bubble:nth-child(69) {
  height: 14px;
  width: 14px;
  animation-delay: -13.8s;
  transform: translate3d(599px, 315px, 1490px);
  background: #d9be26;
}
.bubble:nth-child(70) {
  height: 14px;
  width: 14px;
  animation-delay: -14s;
  transform: translate3d(690px, 942px, 378px);
  background: #cad926;
}
.bubble:nth-child(71) {
  height: 5px;
  width: 5px;
  animation-delay: -14.2s;
  transform: translate3d(772px, 703px, 461px);
  background: #26d938;
}
.bubble:nth-child(72) {
  height: 1px;
  width: 1px;
  animation-delay: -14.4s;
  transform: translate3d(534px, 837px, 847px);
  background: #85d926;
}
.bubble:nth-child(73) {
  height: 5px;
  width: 5px;
  animation-delay: -14.6s;
  transform: translate3d(339px, 830px, 857px);
  background: #262cd9;
}
.bubble:nth-child(74) {
  height: 13px;
  width: 13px;
  animation-delay: -14.8s;
  transform: translate3d(620px, 862px, 871px);
  background: #26d9b2;
}
.bubble:nth-child(75) {
  height: 1px;
  width: 1px;
  animation-delay: -15s;
  transform: translate3d(834px, 250px, 1069px);
  background: #d93526;
}
.bubble:nth-child(76) {
  height: 19px;
  width: 19px;
  animation-delay: -15.2s;
  transform: translate3d(459px, 429px, 1619px);
  background: #d9be26;
}
.bubble:nth-child(77) {
  height: 17px;
  width: 17px;
  animation-delay: -15.4s;
  transform: translate3d(998px, 651px, 4px);
  background: #d92674;
}
.bubble:nth-child(78) {
  height: 14px;
  width: 14px;
  animation-delay: -15.6s;
  transform: translate3d(714px, 259px, 783px);
  background: #a6d926;
}
.bubble:nth-child(79) {
  height: 12px;
  width: 12px;
  animation-delay: -15.8s;
  transform: translate3d(632px, 839px, 224px);
  background: #7d26d9;
}
.bubble:nth-child(80) {
  height: 7px;
  width: 7px;
  animation-delay: -16s;
  transform: translate3d(878px, 351px, 1838px);
  background: #d92650;
}
.bubble:nth-child(81) {
  height: 15px;
  width: 15px;
  animation-delay: -16.2s;
  transform: translate3d(356px, 228px, 21px);
  background: #8526d9;
}
.bubble:nth-child(82) {
  height: 9px;
  width: 9px;
  animation-delay: -16.4s;
  transform: translate3d(613px, 881px, 1512px);
  background: #9426d9;
}
.bubble:nth-child(83) {
  height: 24px;
  width: 24px;
  animation-delay: -16.6s;
  transform: translate3d(64px, 818px, 1915px);
  background: #26d962;
}
.bubble:nth-child(84) {
  height: 20px;
  width: 20px;
  animation-delay: -16.8s;
  transform: translate3d(519px, 23px, 677px);
  background: #7426d9;
}
.bubble:nth-child(85) {
  height: 20px;
  width: 20px;
  animation-delay: -17s;
  transform: translate3d(385px, 486px, 1758px);
  background: #267dd9;
}
.bubble:nth-child(86) {
  height: 6px;
  width: 6px;
  animation-delay: -17.2s;
  transform: translate3d(28px, 324px, 16px);
  background: #26a6d9;
}
.bubble:nth-child(87) {
  height: 3px;
  width: 3px;
  animation-delay: -17.4s;
  transform: translate3d(756px, 250px, 1059px);
  background: #d92671;
}
.bubble:nth-child(88) {
  height: 22px;
  width: 22px;
  animation-delay: -17.6s;
  transform: translate3d(246px, 653px, 1490px);
  background: #26d935;
}
.bubble:nth-child(89) {
  height: 19px;
  width: 19px;
  animation-delay: -17.8s;
  transform: translate3d(18px, 976px, 991px);
  background: #d9265c;
}
.bubble:nth-child(90) {
  height: 24px;
  width: 24px;
  animation-delay: -18s;
  transform: translate3d(277px, 284px, 1441px);
  background: #d95f26;
}
.bubble:nth-child(91) {
  height: 15px;
  width: 15px;
  animation-delay: -18.2s;
  transform: translate3d(403px, 588px, 1405px);
  background: #4d26d9;
}
.bubble:nth-child(92) {
  height: 30px;
  width: 30px;
  animation-delay: -18.4s;
  transform: translate3d(488px, 263px, 243px);
  background: #80d926;
}
.bubble:nth-child(93) {
  height: 4px;
  width: 4px;
  animation-delay: -18.6s;
  transform: translate3d(214px, 188px, 965px);
  background: #26d971;
}
.bubble:nth-child(94) {
  height: 13px;
  width: 13px;
  animation-delay: -18.8s;
  transform: translate3d(925px, 573px, 1005px);
  background: #d9ca26;
}
.bubble:nth-child(95) {
  height: 8px;
  width: 8px;
  animation-delay: -19s;
  transform: translate3d(272px, 774px, 107px);
  background: #d926ca;
}
.bubble:nth-child(96) {
  height: 28px;
  width: 28px;
  animation-delay: -19.2s;
  transform: translate3d(439px, 552px, 68px);
  background: #26d994;
}
.bubble:nth-child(97) {
  height: 17px;
  width: 17px;
  animation-delay: -19.4s;
  transform: translate3d(522px, 277px, 778px);
  background: #c426d9;
}
.bubble:nth-child(98) {
  height: 7px;
  width: 7px;
  animation-delay: -19.6s;
  transform: translate3d(999px, 439px, 1616px);
  background: #26a3d9;
}
.bubble:nth-child(99) {
  height: 13px;
  width: 13px;
  animation-delay: -19.8s;
  transform: translate3d(39px, 992px, 535px);
  background: #d95326;
}
.bubble:nth-child(100) {
  height: 4px;
  width: 4px;
  animation-delay: -20s;
  transform: translate3d(564px, 328px, 1366px);
  background: #d92694;
}
