<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="stylesheets/chat-renderer.css">
</head>

<body>

    <div class="ct">
        <div class="ct2">
            <canvas id="canvas"></canvas>
        </div>
        <div class='col-3 ct1'>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div class="text-danger">
                        <h6 id="w0">----</h6>
                    </div>
                    <span id="c0" class="text-danger">-</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 id="w1">----</h6>
                    </div>
                    <span id="c1" class="text-muted">-</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 id="w2">----</h6>
                    </div>
                    <span id="c2" class="text-muted">-</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 id="w3">----</h6>
                    </div>
                    <span id="c3" class="text-muted">-</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 id="w4">----</h6>
                        </div>
                        <span id="c4" class="text-muted">-</span>
                    </li>
                </ul>
        </div>

    </div>
</body>

<script src="javascripts/chatbot.js"></script>
<script src="javascripts/chat-renderer.js"></script>