<div class="container-home">
  <h4>APIS</h4>
  <ul>
    <li *ngFor="let item of urlsAPIs">
      <a [attr.href]="item.method == 'GET' ? item.url : null">[{{item.method}}] {{item.text}}</a>
    </li>
  </ul>
  <h4>Angular</h4>
  <ul>
    <li *ngFor="let item of urlsAngular">
      <a [attr.href]="item.method == 'GET' ? item.url : null">[{{item.method}}] {{item.text}}</a>
    </li>
  </ul>
  <h4>Public</h4>
  <ul>
    <li *ngFor="let item of urlsPublic">
      <a [attr.href]="item.method == 'GET' ? item.url : null">[{{item.method}}] {{item.text}}</a>
    </li>
  </ul>

</div>