<div class='container-image-overlay'>
  <!-- <img src='/api/upload/image'> -->
  <img class='overlay-image' [src]="image" [style.width]="imageWidth+'px'">
  <div class="overlay-over-image">
    <div *ngFor="let item of listRoundingRect" class="rounding-rect" [ngStyle]="item.style">
      {{item.text}}
    </div>
  </div>
</div>