.container-image-overlay {
    padding: 0px;
    margin: 0px;
    background: lightgray;
    max-width: 800px;
    max-height: 800px;
    margin: 0 auto;
    padding: 6px;
    overflow: hidden;
    position: relative;
}

.overlay-image {
    width: 100px;
    max-width: 100%;
    max-height: 100%; 
    background: yellowgreen;
    position: relative;
    float: left;
}

.overlay-over-image {
    position: absolute;
    float: right;
}

.rounding-rect {
    position: absolute;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 30px;
    width: 40px;
    line-height: 40px;
    background: lightgreen;
    text-align: center;
    vertical-align: middle;
    border-radius: 25%;
}