.container-text-overlay{
    padding: 0px;
    margin: 0px;
    font-family: 'Permanent Marker', cursive;
    /* font-family: 'Luckiest Guy', cursive; */
}

.text-overlay-message {
    font-weight: 600;
    font-size: 100px;
    line-height: 1.2em;
    transform: rotate(10deg);
    color: orangered;
}