<section class="landing">
    <div class="landing-inner">
        <div class="countdown"></div>
    </div>
</section>
<link rel="stylesheet" type="text/css" href="./stylesheets/countdown.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="./javascripts/countdown.js"></script>
