<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/next-number.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/flipclock.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/color-game.css">
</head>

<body>
    <div class='square-content'>
        <div>
            <span>hello</span>
        </div>
    </div>
    <div class='square-content'>
        <div>
            <span>318</span>
        </div>
    </div>
    <div class='square-content'>
        <div>
            <span>23</span>
        </div>
    </div>
    <div class='square-content'>
        <div>
            <span>world</span>
        </div>
    </div>
    <div class='square-content'>
        <div>
            <span>Aspect ratio 1:1</span>
        </div>
    </div>
    <!--
    <h1>32, 382, 92, 8, 288
        <span id="colorDisplay">RGB</span> Color Game</h1>
    
    <div id="stripe">
        <button id="reset">New Colors</button>
        <span id="message"></span>
        <button class="mode">Easy</button>
        <button class="mode selected">Hard</button>
    </div>
    
    <div id="container">
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
    </div>
-->
    <!--<div class="full-size">-->

        <div class="clock"></div>
        
        <button type="button" class="decrement" style="margin: 25px; font-size: 20px; padding: 15px;">-1</button>
        
        <button type="button" class="reset" style="margin: 25px; font-size: 20px; padding: 15px;">Reset</button>

        <div class="dog-idle"></div>
        <div class="dog-run"></div>
        <div class="dog-jump"></div>
    <!--</div>-->
</body>    
<script src="javascripts/flipclock.js"></script>
<script src="javascripts/next-number.js"></script>
<script src="javascripts/color-game.js"></script>
