<link rel="stylesheet" type="text/css" href="stylesheets/sprites.css">

<div class="cat-dead"></div>
<div class="cat-fall"></div>
<div class="cat-hurt"></div>
<div class="cat-idle"></div>
<div class="cat-jump"></div>
<div class="cat-run"></div>
<div class="cat-slide"></div>
<div class="cat-walk"></div>

<div class="dog-dead"></div>
<div class="dog-fall"></div>
<div class="dog-hurt"></div>
<div class="dog-idle"></div>
<div class="dog-jump"></div>
<div class="dog-run"></div>
<div class="dog-slide"></div>
<div class="dog-walk"></div>
