<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/sprites.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/flipclock.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/test.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/font.css">
</head>

<body>
    <div id=mario></div>

    <!-- header with information -->
    <div>
        <h1 class=fontface>Tags: Hello World</h1>
    </div>

    
    <!-- clock -->
    <!-- current number -->
    <!-- animation -->
    <div class=container>
        <div class="square">
            <div class="dog-idle"></div>
        </div>
        <div class="square">
            
                <p class=style5>289</p>
        </div>
        <div class="square">
            <div class="clock-wrapper">
                <div id="getting-started"><div class="clock"></div></div>
            </div>
        </div>
    </div>

    <!-- the list of numbers -->
<div class=footer>
    <div class="info">
        <div class="squre-a">
            <p class=style1>49</p>
        </div>
        <div class="squre-a">
            <p class=style4>9</p>
        </div>
        <div class="squre-a">
            <p class=style4>289</p>
        </div>
        <div class="squre-a">
            <p class=style4>579</p>
        </div>
        <div class="squre-a">
            <p class=style4>29</p>
        </div>
        <div class="squre-a">
            <p class=style4>226</p>
        </div>
        <div class="squre-a">
            <p class=style4>2</p>
        </div>
        <div class="squre-a">
            <p class=style4>89</p>
        </div>
        <div class="squre-a">
            <p class=style4>0</p>
        </div>
        <div class="squre-a">
            <p class=style4>2639</p>
        </div>
    </div>
    </div>

</body>
<script src="javascripts/flipclock.js"></script>
<script src="javascripts/flipclock.js"></script>
<script src="javascripts/next-number.js"></script>
<script src="javascripts/mario.js"></script>
