<div class="ct">
  <div class="ct-canvas">
    <div *ngFor="let item of listBox" class="word-box" [ngStyle]="item.style">
      {{item.word}}
    </div>
  </div>

  <mat-expansion-panel class="ct-wc" [expanded]="true" *ngIf="isWC">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Word Count
      </mat-panel-title>
      <mat-panel-description>
        Twitch
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div>
      <mat-card class="card-wc" *ngFor="let item of listCount" matBadge="{{item.count}}">
        <b>{{item.word}}</b>
      </mat-card>
    </div>

  </mat-expansion-panel>
  
  <!-- <button mat-button (click)="openTextOverlay()">OPEN/CLOSE</button> -->

  <!-- <app-info-panel></app-info-panel> -->
</div>