
.ct {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    font-family: 'Roboto';
}

.ct-wc {
    width: 220px;
    right: 20px;
    top: 20px;
    position: absolute;
    display: inline-block
}

.ct-canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    /* background: lightslategray; */
}

.card-wc {
    padding: 6px 20px;
    margin: 6px;
}

.mat-expansion-panel, .mat-card {
    background: #ffffff66
}

.mat-expansion-panel-body 
{
    padding: 0 16px 16px;
}

.word-box {
    position: absolute;
    text-shadow: 0 0 1px #000, 0 0 2px #000;
    font-weight: 600;
    font-size: 32px;
    line-height: 1.2em;
    color: #FAFAFA;
}