.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}

.component-child {
  display: flex;
  flex: 0 1 auto;
  overflow: auto;
}

.sidenav-toolbar {
  display: flex;
  flex: 0 0 auto;
}

.sidenav-content {
  height: 100vh;
  flex-flow: column;
  display: flex;
}

.component-child-inner{
  height: 100%
}