<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list *ngFor="let item of listMenu; let i = index">
      <a mat-list-item (click)="onSelect(i)">{{item.name}}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <mat-toolbar class="sidenav-toolbar" color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Dizy Stream</span>
    </mat-toolbar>
    <div class="component-child">
      <div class="component-child-inner">
        <app-home *ngIf="currentPath == 'main'"></app-home>
        <app-about *ngIf="currentPath == 'about'"></app-about>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
