
<div class='container-info-panel'>
  <div class='info-panel-left'>
    {{messageLeft}}
  </div>
  <div class='info-panel-center'>
    {{message}}
  </div>
  <div class='info-panel-right' *ngIf='messageRight.length != 0'>
    {{messageRight}}
  </div>
  <div class='info-panel-right' *ngIf='messageRight.length == 0'>
    {{dateCurrent | date:'HH:mm:ss'}}
  </div>
</div>
