.container-info-panel{
    padding: 0px;
    margin: 0px;
    /* width: 300px; */
    /* height: 100px; */
    background: lightgray;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 38px;
    line-height: 1.2em;
    flex-flow: row;
    display: flex;
}

.info-panel-left, .info-panel-right {
    display: flex;
    background: black;
    color: orange;
    padding: 4px 10px;
}

.info-panel-center {
    display: flex;
    background: white;
    color: black;
    padding: 4px 10px;
}
